.syntax--source.syntax--js {

  .syntax--punctuation {
    &.syntax--definition {

      &.syntax--bracket {
        &.syntax--curly {
          &.syntax--begin,
          &.syntax--end {
            &.syntax--jsdoc {
              color: @syntax-color-comment !important;
            }
          }
        }
      }

      &.syntax--block {
        &.syntax--tag {
          &.syntax--jsdoc {
            color: @syntax-color-comment !important;
          }
        }
      }
    }
  }

  .syntax--storage {
    &.syntax--type {

      &.syntax--class {
        font-style: italic;
      }

      &.syntax--class {
        &.syntax--jsdoc {
          color: @syntax-color-comment !important;
        }
      }

    }
  }

  .syntax--entity {
    &.syntax--name {

      &.syntax--type {
        &.syntax--instance {
          &.syntax--jsdoc {
            color: @syntax-color-comment !important;
          }
        }
      }

      &.syntax--function {
        &.syntax--constructor {
          font-style: italic;
        }
      }
    }
  }

  .syntax--keyword {
    &.syntax--control {
      font-style: italic;
    }
  }

  .syntax--variable {
    &.syntax--other {
      &.syntax--jsdoc {
        color: @syntax-color-comment !important;
      }
    }

    &.syntax--language {
      font-style: italic;
    }
  }
}
