.syntax--source.syntax--python {
  .syntax--keyword.syntax--operator.syntax--logical.syntax--python {
    color: @hue-3;
  }

  .syntax--variable.syntax--parameter {
    color: @hue-6;
  }

  .syntax--keyword.syntax--control.syntax--statement {
    font-style: italic;
  }

  .syntax--punctuation.syntax--definition.syntax--string.syntax--begin,
  .syntax--punctuation.syntax--definition.syntax--string.syntax--end,
  .syntax--string.syntax--quoted.syntax--double.syntax--block {
    color: @mono-3;
    font-style: italic;
  }
}
