.syntax--source.syntax--ts {
  .syntax--keyword.syntax--control.syntax--flow {
    font-style: italic;
  }

  .syntax--variable.syntax--language.syntax--this {
    font-style: italic;
  }

  .syntax--punctuation.syntax--definition.syntax--comment {
    font-style: italic;
  }

  .syntax--storage.syntax--type {
    font-style: italic;
  }
}
